---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

.site-logo-img {
<<<<<<< HEAD
    width: 210px;
}
=======
    width: 215px;
}
>>>>>>> fc215705286e3043ea26962b955d613495eba10c
